.nav-btn {
    height: 90px;
}

.btn{
    background: coral;
    height: 70px;
    width: 70px;
    outline-style: none;
    border: none;
}

.btn:active, .btn:hover, .btn:focus {
    outline: transparent none 0 !important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

